/*
!.git/
!.gitignore
!default/
!ssh/
!ssh/sshd_config
!sshguard/
!iptables/
!apt/
!apt/apt.conf.d/
!scripts/
!sudoers
!group
!ntp.conf
!gittestfile
!rc.local
mrt/
!bind/
!apache2/
!mysql/
!postfix/
!letsencrypt/
bind/zones/subzone*
apache2/sites-available/*subzone*
apache2/sites-enabled/*subzone*
bind/named.conf.mrt-zones
!dovecot/
!netplan/
!ntopng/
